.order-history {
    max-height: 420px; /* height of the profile file + submit button */
    overflow: auto;
}

#profile-update-form .form-control {
    color: #5096e0 !important;
}

#profile-update-form input[name='q']::placeholder {
    color:rgb(143, 143, 143);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color:rgb(99, 93, 93);
}

#id_default_country,
#id_default_country option:first-child {
    color:rgb(143, 143, 143);
}


.btn-blue {
    color: rgb(99, 93, 93);
 
}

.btn-outline-blue {
    background-color:#5096e0 !important;
}


