html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(64, 121, 187);
    color: whitesmoke;
    min-width: 260px;
}

.btn-blue {
    background: rgb(109, 148, 194);
    color: whitesmoke;
}

.btn-outline-blue {
    background: rgb(64, 121, 187);
    color: whitesmoke;    
    border: 10px solid;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: rgb(64, 121, 187);
    color: whitesmoke;
    
}

.text-blue {
    color: rgb(64, 121, 187) !important;
}

.border-blue {
    border: 1px solid rgb(64, 121, 187) !important;
}

.bg-blue {
    background: rgb(64, 121, 187) !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: rgb(64, 121, 187) !important;
    color: whitesmoke;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: rgb(64, 121, 187) !important;
    color: whitesmoke;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*---------------toasts */

.message-container {
    position: fixed;
    top: 80px;
    align-items: center;
    right: 50px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}



/* Convenience classes */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #c59b1c !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #bfd2e6 !important;
}

.arrow-dark {
    border-bottom-color: #293949 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}