{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
   
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Contact Us</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h6 class="text-muted">If you have any questions, let us know.</h6>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form action="{% url 'contact_success' %}" method="POST" class="update-form text-center">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center gap-4 py-5">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary mr-3"> Cancel</a>
                    <button class="btn btn-outline-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
